{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css'  %}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Weather Forecast</h1>
      <form id="search-form" action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          id="location"
          name="location"
          placeholder="Enter location"
        />
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="container2">
      <div id="weather-info">
        <h2 id="city-name">country_code : {{country_code}}</h2>
        <h2 id="city-name">coordinates : {{coordinates}}</h2>
        <p id="temperature">temperature : {{temperature}}</p>
        <p id="pressure">pressure : {{pressure}}</p>
        <p id="humidity">humidity : {{humidity}}</p>
      </div>
    </div>
  </body>
</html>
