{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css'  %}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Weather Forecast</h1>
      <form id="search-form" action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          id="location"
          name="location"
          placeholder="Enter location"
        />
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="container2">
      <div id="weather-info">
        <h1>{{location}}</h1>
        <h2 id="city-name">Country code: {{Country_code}}</h2>
        <p id="city-name">Coordinates: {{Coordinates}}</p>
        <p id="temperature">Temperature: {{Temperature}}</p>
        <p id="temperature">Description: {{Description}}</p>
        <p id="pressure">Pressure: {{Pressure}}</p>
        <p id="humidity">Humidity: {{Humidity}}</p>
        <p id="humidity">Wind speed: {{wind_speed}}</p>
      </div>
    </div>
  </body>
</html>
